@import url('https://fonts.googleapis.com/css?family=Patua+One|Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #261419;
  font-size: calc(9px + 1vmin);
}

.App {
  text-align: left;
}

.App-header {
  background-color: #F2F2F2;
  min-height: 15vh;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  width: 80%;
  padding: 1% 5% 2% 5%;
  border-bottom: 1px solid #F26457;
}

.title {
  font-family: 'Patua One', cursive;
  font-size: calc(10px + 2vmin);
}

.listItemFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.9em;
  justify-content: space-between;
}

.listItemFooter p {
  /* flex-basis: 100%; */
  width: 25%;
  margin: 0;
  text-align: center;
}

.vote {
  cursor: pointer;
  font-weight: bolder;
  color: #F2220F;
}

a {
  color: #F2220F;
  text-decoration: none;
}